*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    height: 100vh;
    position: relative;
    background-color: rgb(9, 60, 119);
}
.bar{
    margin: 5px;
    background-color: #000000;
    border-radius:30px ;
    padding: 5px;
    position: sticky;
    top: 0px;
    z-index: 1;  
}
.menubar{
    color: #fff;
    font-size: 35px;
    display: none;
}
.menu{
    display: inline-flex;
}
.search{
    display: inline-flex;
    background-color: #fff;
    width: 250px;
    height: 25px;
    border-radius: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}
li a{
    text-decoration: none;
    color: #fff;

}
ul li{
    list-style: none;
    margin: 10px;
    text-align: center;
    font-size: 100%;    
}
ul{
    display: flex;
}
.search input{
    border: none;
    width:100% ;
    height: 100%;
    padding: 0 10px;
    border-radius: 20px 0 0 20px;

}
.search span{
    text-align: center;
    margin: 5px;
}
.menu a:hover{
    cursor: pointer;
    text-decoration:underline ;
    color: cyan;
}
.center{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
   
    width: 300px;
    left: 50%;
    top: 35%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.icon{
    height: 50px;
    width: 50px;
   z-index: 10;
    margin: 10px;
    border-radius: 50%;
    line-height: 63px;
    background-color: white;
    text-align: center;
    filter: drop-shadow(7px 7px 50px black);
}
.icon a{
    color:rgb(9, 60, 119) ;
}
.user{
    filter: drop-shadow(7px 7px 50px black);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    min-height: 350px;
    background: white;
    padding: 20px;
}
.user a{
    color: rgb(9, 60, 119);
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 17px;
}
input[type=submit]{
    color: white;
    background-color: rgb(9, 60, 119);
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px 10px;
    width: 100%;
    margin: 5px 0 30px 0;
    cursor: pointer;
}
h3{
    text-align: center;
    margin: 10px 0px;
    color: rgb(9, 60, 119);
}
input[type=text]{
    width: 90%;
    border: none;
    border-bottom: 1px solid rgb(9 60 119);
    padding: 5px;
}
input[type=password]{
    width: 90%;
    border: none;
    border-bottom: 1px solid rgb(9 60 119);
    padding: 5px;
}
.box{
    margin: 10px 0;
}
.iconcenter{
    width: 100%;
    text-align: center;
   
}
#click{
    display: none;
}
#click:checked~.menubar i:before{
    content: "\f00d";
}

#click:checked~ul{
    right: 0%;
    transition: all 0.3s ease;
}
@media (max-width:800px) {
    ul{
        display: block;
        top: 60px;
       right: -100%;
        height: 100vh;
        width: 100%;
        position: fixed;
        background-color: #1b1b1b;
        
       

    }
    
    .bar{
        border-radius: 0px;
        height: 45px;
    }
    .menubar{
         display: block;
       
    }
}
@media (max-width:350px){
    .search {
        width:60%;
    }

}
